android/build/
gradle/
gradle/wrapper/
.git/
.gitignore/
.vscode/
*.iml
*.ipr
*.iws
*.log
*.apk
*.keystore
*.properties
*.class
*.jar
*.aar
*.so
*.dex
*.apk
*.obb
*.ap_
*.obb
*.ap_
*.jar
*.class
*.jar
*.class
*.jar
*.class
*.jar  